<div class="testimonial-module">
    <div class="block-title">
        <h3><span>{{ title }}</span></h3>
		{% if text_module_testimonial %}
			<p>{{ text_module_testimonial }}</p>
		{% endif %}
    </div>
    <div class="swiper-viewport">
        <div class="swiper-container testimonial-slides gallery-top">
            <div class="swiper-wrapper">
                {% for testimonial in testimonials %}
                    <div class="testimonial-content swiper-slide">
                        <div class="testimonial-box">
                            <p>{{ testimonial.content }}</p>
                            <div class="rating">
                                <span class="icon-ratings"><i class="icon-rating icon-rating-x"></i></span>
                                <span class="icon-ratings"><i class="icon-rating icon-rating-x"></i></span>
                                <span class="icon-ratings"><i class="icon-rating icon-rating-x"></i></span>
                                <span class="icon-ratings"><i class="icon-rating icon-rating-x"></i></span>
                                <span class="icon-ratings"><i class="icon-rating icon-rating-x"></i></span>
                            </div>
                            <span class="testimonial-author">{{ testimonial.customer_name }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if slide.pagination %}
            <div class="swiper-pagination testimonial-pagination"></div>
        {% endif %}

        {% if slide.navigation %}
            <div class="swiper-pager">
                <div class="swiper-button-next swiper-testimonial-button-next"></div>
                <div class="swiper-button-prev swiper-testimonial-button-prev"></div>
            </div>
        {% endif %}
    </div>
    <div class="testimonial-add">
        <button onclick="$('.testimonial-popup').show();">{{ testimonial_button }}</button>
        <a href="https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=73582/path=static.234x90/*https://market.yandex.ru/shop--ekomarket-klever/588081/reviews/add"> <img src="https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=73581/path=static.234x90/*https://img.yandex.net/market/informer2.png" border="0" alt="Оцените качество магазина Экомаркет Клевер на Яндекс.Маркете." /> </a>    </div>    
    <div>
    </div>    
</div>
<div class="testimonial-container testimonial-popup" style="display: none;">
    <a href="javascript:void(0)" class="a-close-testimonial-full" onclick="$('.testimonial-popup').hide();"></a>
    <div class="popup-content">
        <a href="javascript:void(0)" class="a-close-testimonial" onclick="$('.testimonial-popup').hide();">{{ text_close }}</a>
        <h3>{{ testimonial_title }}</h3>
        <p>{{ testimonial_top_text }}</p>
        <div class="newsletter-content">
            <div class="content">
                <input type="text" class="testimonial_author" name="author" value="" placeholder="{{ testimonial_author }}" />
                <textarea class="testimonial_text" name="text" value="" placeholder="{{ testimonial_text }}" ></textarea>
                <button type="button" class="btn btn-primary" onclick="pttestimonial.saveTestimonial($(this));">{{ testimonial_button }}</button>
            </div>
            <div class="newsletter-notification"></div>
        </div>
    </div>
</div>
    

<script type="text/javascript">
    var testimonial_slides = $(".testimonial-slides").swiper({
        spaceBetween: 20,
        {% if slide.pagination %}
        pagination: '.testimonial-pagination',
        paginationClickable: true,
        {% endif %}
        {% if slide.navigation %}
        nextButton: '.swiper-testimonial-button-next',
        prevButton: '.swiper-testimonial-button-prev',
        {% endif %}
        speed: {% if slide.speed %} {{ slide.speed }} {% else %} 300 {% endif %},
        slidesPerView: 1,
        slidesPerColumn: 1,
        autoplay: {% if slide.auto %} 3000 {% else %} false {% endif %},
        loop: false
    });

    $(".gallery-thumbs").swiper({
        spaceBetween: 0,
        slidesPerView: {{ slide.items }},
        slidesPerColumn: {{ slide.rows }},
        loop: false,
    });
	$('.testimonial-images-1').addClass('active');
    function testimonialGoToSlide(index) {
        testimonial_slides.slideTo(index);
		$('.testimonial-images').removeClass('active');
		$('.testimonial-images-'+ index).addClass('active');
    }
</script>