<nav id="top">
  <div class="container">
    <div class="box-inner">
		<ul class="box-top box-top-left pull-left">
			<!--<li><a href="{{ contact }}"><i class="fa fa-phone"></i> <span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span></a></li>
			{% if header_cart %}
				<li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a></li>
				<li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a></li>
			{% endif %} -->
			<li class="language">
			{{ language }}
			</li>
			<li class="currency">
			{% if header_currency %}
			  {{ currency }}
			{% endif %}
			</li>
		</ul>
		<ul class="box-top box-top-right pull-right">
			{{ position4 }}
		</ul>
	</div>
  </div>
</nav>
<header class="scroll-fix">
	<div class="scroll-fix-container">
		<div class="container">
			<div class="box-inner">
				<div class="box-inner-inner">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-sms-12">
							<div class="col-search">{{ search }}</div>
						</div>
						<div class="col-md-4 col-sm-4 col-sms-6">
							{{ position3 }}
							<div id="logo">
							{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
							  <h1><a href="{{ home }}">{{ name }}</a></h1>
							  {% endif %}
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-sms-6">
							<div class="col-cart">
								<li id="top-links" class="nav header-dropdown">
								  <ul class="list-inline">
									<li class="dropdown">
									  <ul class="dropdown-menu dropdown-menu-right pt-account">
										{% if logged %}
										<li><a id="pt-logout-link" href="{{ logout }}">{{ text_logout }}</a></li>
										{% else %}
										<li><a id="pt-register-link" href="{{ register }}">{{ text_register }}</a></li>
										<li><a id="pt-login-link" href="{{ login }}">{{ text_login }}</a></li>
										{% endif %}
									  </ul>
									</li>
								  </ul>
								</li>
								{% if header_cart %}{{ cart }}{% endif %}
								<a href="{{ wishlist }}" id="wishlist-total" ><span>{{ text_wishlist }}</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="top-menu visible-lg">
		<div class="container">
			<div class="container-inner">
				<div class="col-ver">{{ position1 }}</div>
				<div class="col-hoz">{{ position2 }}</div>
			</div>
		</div>
	</div>
</header>